body {
  background-image: url("Background.jpeg");
  background-size: cover;
}

.container {
  background-color: rgba(255, 192, 203, 0.5);
  border: 1px solid white;
  padding: 15px;
  text-align: left;
} 

.btn {
  background-color: #ff8da1;
  border-color: #ff8da1;
}